#Machine Learning

In [2]:
import pyodbc
import pandas as pd 
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pyodbc'

In [23]:
server = 'tcp:solidqdemo.database.windows.net' 
database = 'AdventureWorksDW2017' 
username = 'adminsql' 
password = 'Puk02020#!' 
vTargetMail = "SELECT * FROM vTargetMail"
#Abrimos la conexion
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [24]:
df = pd.read_sql(vTargetMail,cnxn)

df.info()
df.shape
df.describe()
df.count()

In [7]:
df.isnull()

In [8]:
df.isna()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,Region,Age,BikeBuyer
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18480,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18481,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18482,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
18483,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [17]:
df.isnull().sum()

CustomerKey                 0
GeographyKey                0
CustomerAlternateKey        0
Title                   18383
FirstName                   0
MiddleName               7830
LastName                    0
NameStyle                   0
BirthDate                   0
MaritalStatus               0
Suffix                  18481
Gender                      0
EmailAddress                0
YearlyIncome                0
TotalChildren               0
NumberChildrenAtHome        0
EnglishEducation            0
SpanishEducation            0
FrenchEducation             0
EnglishOccupation           0
SpanishOccupation           0
FrenchOccupation            0
HouseOwnerFlag              0
NumberCarsOwned             0
AddressLine1                0
AddressLine2            18172
Phone                       0
DateFirstPurchase           0
CommuteDistance             0
Region                      0
Age                         0
BikeBuyer                   0
dtype: int64

In [10]:
df.isna().equals(df.isnull())

True

In [38]:
df['SpanishEducation']

array(['Licenciatura', 'Licenciatura', 'Licenciatura', ...,
       'Estudios de postgrado', 'Licenciatura', 'Licenciatura'],
      dtype=object)

In [35]:
#Definirlo como ordinal
df['Education'] = df['SpanishEducation'].astype('category')
df['Education'].cat.reorder_categories(["Educación secundaria (en curso)","Educación secundaria","Estudios universitarios (en curso)","Licenciatura","Estudios de postgrado"],inplace=True)
df['EducationInt'] = df['Education'].cat.codes

Hacer lo mismo para Ocupación y para Distancia al trabajo. En este caso son características cuyo "orden" tiene importancia.